@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap");

:root {
  --background--: #111827;
  --card--: #4ade80;
  --text-primary--: #f3f4f6;
  --text-card--: #1c1917;
  --button--: #0891b2;
  --hover--: #06b6d4;
  --fontFamily--: "karla", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontFamily--);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background--);
  color: var(--text-primary--);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}
